<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<TITLE>TestGen Home</TITLE>
		<link rel="stylesheet" type="text/css" href="resources/style.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body id="body">
		<div id="dyn-content">
			<div id="container">
				<div id="header">
					<h1>
						TestGen - HTML For your API's
						<span>
							<input type="text" value="Search" style="width:40%;float:right;height:25px" onclick="this.value=''" onkeyup="searchLeftNavs(this)"/>
						</span>
					</h1>
				</div>
				
				<div id="navigation" style="display:inline-block;">
					<ul class="dropdown">
						<li><a href="index.html">Home</a></li>
						$navigationLinks
					</ul>
				</div>
				<div id="content-container">	
					<div id="content">
						<h2>
							$testname
						</h2>
						<span class="header" style="vertical-align:top;margin-left:30px">Show Documentation
							<input id="$formName+DocCheckbox" type="checkbox" checked=true style="margin-right:10px;" onchange="if(this.checked)document.getElementById('$formName+Doc').style.display='block';else document.getElementById('$formName+Doc').style.display='none';adjustHeight();"/>
						</span>
						<span class="header" style="vertical-align:top;">Show Test Page
							<input id="$formName+TstCheckbox" type="checkbox" checked=true style="margin-right:10px;" onchange="if(this.checked)document.getElementById('$formName').style.display='block';else document.getElementById('$formName').style.display='none';adjustHeight();"/>
						</span>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						#if($genDoc==true)
						<div class="stylized">
							<h2 id="testgen-content-doc" onclick="#if($genTest==true)document.getElementById('$formName+TstCheckbox').checked=false;document.getElementById('$formName+DocCheckbox').checked=true;document.getElementById('$formName').style.display='none';document.getElementById('$formName+Doc').style.display='block';adjustHeight();#else return; #end"><u>Documentation</u></h2>
						</div>
						<div id="$formName+Doc" style="margin-left:50px;font-size:14px;">
							$methodComments
						</div>
						#end

						<br/><br/>						
						
						<div class="stylized" #if($genTest==false) style="display:none" #end>
							<h2 id="testgen-content" onclick="#if($genTest==true)document.getElementById('$formName+DocCheckbox').checked=false;document.getElementById('$formName+TstCheckbox').checked=true;document.getElementById('$formName').style.display='block';document.getElementById('$formName+Doc').style.display='none';adjustHeight();#else return; #end"><u>Test Page</u></h2>
							<br/>							
							<form id="$formName" name="$formName" $enctype>
							#if($genTest==true)
							#if(!$schemaJson)
								<h1 style="margin-left:50px;margin-right:50px;word-wrap:break-word;">$formDesc</h1>
								#if ($formDetDesc)
									<p>$formDetDesc</p>
								#else
									<p>&nbsp;</p>
								#end
								#if ($shwhidgrps)
									<div style="margin-left:20px;margin-right:20px;"><b><u>Show/Hide Property Groups</u></b><br/><br/>$shwhidgrps</div>
									<p>&nbsp;</p>
									<center>*All blank input values will be set to null by default, If 'Blank Value' checkbox is checked value will be blank and not null<br/></center>
									<p>&nbsp;</p>
								#end
								#if($request_content)
								<div>
									<label>Use Raw Text:&nbsp;</label>
									<input id="raw_req_cont_flag" type="checkbox" onchange="hideShowClasses('form-elems','form-request_content', this);updatetawidcont()"/><br/><br/>
								</div>
								#end
								#foreach($vField in $vFields)
									<div style="overflow:auto;#if($vField.getClaz());display:none#end" #if($vField.getClaz())class="#if(!$vField.getType().equals("url"))form-elems#end$vField.getName()"#end>
										<label>#if($vField.getType().equals("url"))url&nbsp;#else $vField.getName()&nbsp;#end
										#if ($vField.description)
											<span class="small">$vField.getDescription()</span>
										#end
										</label>
										#if ($vField.getType().equals("text"))
											<input type="text" name="$vField.getLabel()" id="$vField.getName()" #if($vField.getVarType())$vField.getVarType()#end/>
											<span style="font-size:10px;margin-left:10px">Blank</span><input type="checkbox" onchange="if(this.checked){document.getElementById('$vField.getName()').value='';document.getElementById('$vField.getName()').data='';} else {document.getElementById('$vField.getName()').value=null;document.getElementById('$vField.getName()').data=null;}" style="vertical-align:-2px;"/>
											<br/><br/>
										#elseif ($vField.getType().equals("text"))
											<input type="text" class="clsDatePicker" readonly name="$vField.getLabel()" id="$vField.getName()" #if($vField.getVarType())$vField.getVarType()#end/>
											<span style="font-size:10px;margin-left:10px">Blank</span><input type="checkbox" onchange="if(this.checked){document.getElementById('$vField.getName()').value='';document.getElementById('$vField.getName()').data='';} else {document.getElementById('$vField.getName()').value=null;document.getElementById('$vField.getName()').data=null;}" style="vertical-align:-2px;"/>
											<br/><br/>
										#elseif ($vField.getType().equals("header"))
											<input type="text" class="headerparam" id="$vField.getLabel()" value="#if($vField.getValues().size()>0)$vField.getValues().get(0)#end" #if($vField.getVarType())$vField.getVarType()#end/><br/><br/>
										#elseif ($vField.getType().equals("url"))
											<input type="text" style="width: 50%; height: 30px;" id="$vField.getLabel()" value="#if($vField.getValues().size()>0)$vField.getValues().get(0)#end"/>
											<button class="nmbutton" onclick="createCookie('$formName', $('#93be7b20299b11e281c10800200c9a66_URL').val(), 365);return false;">Save</button><button class="nmbutton" onclick="loadUrl();return false;">Load</button><br/><br/>
										#elseif ($vField.getType().equals("textarea"))
											<textarea style="margin-left:250px" name="$vField.getLabel()" id="$vField.getLabel()">#if($vField.getValues().size()>0) $vField.getValues().get(0) #end</textarea><br/><br/>
										#elseif ($vField.getType().equals("map"))
											<input type="text" id="$vField.getLabel()+mapkey"/>(key) <br/>
											<label>&nbsp;</label><input type="text" id="$vField.getLabel()+mapvalue"/>(value)<button class="nmbutton" onclick="addMapKV('$vField.getLabel()');return false;">Add</button><br/><br/>
										#elseif ($vField.getType().equals("kcmap"))
											<textarea id="$vField.getLabel()+mapvalue"></textarea>(key) <br/>
											<label>&nbsp;</label><input type="text" id="$vField.getLabel()+mapkey"/>(value)<button class="nmbutton" onclick="addMapKV('$vField.getLabel()');return false;">Add</button><br/><br/>
										#elseif ($vField.getType().equals("vcmap"))
											<input type="text" id="$vField.getLabel()+mapkey"/>(key) <br/>
											<label>&nbsp;</label><textarea id="$vField.getLabel()+mapvalue"></textarea>(value)<button class="nmbutton" onclick="addMapKV('$vField.getLabel()');return false;">Add</button><br/><br/>
										#elseif ($vField.getType().equals("kvcmap"))
											<textarea id="$vField.getLabel()+mapvalue"></textarea>(key) <br/>
											<label>&nbsp;</label><textarea id="$vField.getLabel()+mapvalue"></textarea>(value)<button class="nmbutton" onclick="addMapKV('$vField.getLabel()');return false;">Add</button><br/><br/>
										#elseif ($vField.getType().equals("list"))
											<input type="text" id="$vField.getLabel()+listv"/><button class="nmbutton" onclick="addListV('$vField.getLabel()');return false;">Add</button><br/><br/>
										#elseif ($vField.getType().equals("clist"))
											<textarea id="$vField.getLabel()+listv"></textarea><button class="nmbutton" onclick="addListV('$vField.getLabel()');return false;">Add</button><br/><br/>
										#elseif ($vField.getType().equals("set"))
											<input type="text" id="$vField.getLabel()+setv"/><button class="nmbutton" onclick="addSetV('$vField.getLabel()');return false;">Add</button><br/><br/>
										#elseif ($vField.getType().equals("cset"))
											<textarea id="$vField.getLabel()+setv"></textarea><button class="nmbutton" onclick="addSetV('$vField.getLabel()');return false;">Add</button><br/><br/>
										#elseif ($vField.getType().equals("select"))
											<select name="$vField.getLabel()" id="$vField.getLabel()">
												#foreach( $value in $vField.getValues() )
													<option value="$value">$value</option>
												#end
											</select><br/><br/>
										#elseif ($vField.getType().equals("multipartform"))
											<select id="$vField.getLabel()+sel">
												<option value="text">text</option>
												<option value="file">file</option>
											</select>(type) <br/>
											<label>&nbsp;</label><input type="text" id="$vField.getLabel()+name"/>(name)<button class="nmbutton" onclick="addFormParm('$vField.getLabel()');return false;">Add</button><br/><br/>
										#end
									</div>
								#end
								
								<div class="spacer"></div>
								#if(!$consumes.equals("multipart/form-data"))
									<button type="submit" class="spbutton" type="submit" onclick="executeTest('#93be7b20299b11e281c10800200c9a66_URL','$httpMethod','$consumes','#$formName');return false;">Submit</button>
									<br/><br/><p></p><br/>
									<label>Response Time:&nbsp;</label><span id="restime"></span><br/><br/>
									<label>Response Headers:&nbsp;</label><div><pre id="reshdrs" style="word-wrap:break-word;margin-left:200px;width:auto;background-color: #ebf4fb;border:none;"></pre></div>
									<label>Response:&nbsp;</label><div><br/><pre id="status" class="prettyprint" style="word-wrap:break-word;margin-left:200px;width:auto;background-color: #ebf4fb;border:none;"></pre></div><br/><br/>
									<p></p>
								#else
									<input type="submit" class="spbutton" value="Submit">
									<br/><br/><p></p><br/>
									<label>Upload Progress&nbsp;</label><br/><br/><div class="progress" style="margin-left:200px"><div class="bar"></div><div class="percent">0%</div></div><br/>
									<label>Response Time:&nbsp;</label><span id="restime"></span><br/><br/>
									<label>Response Headers:&nbsp;</label><div><pre id="reshdrs" style="word-wrap:break-word;margin-left:200px;width:auto;background-color: #ebf4fb;border:none;"></pre></div>
									<label>Response:&nbsp;</label><div><br/><pre id="status" class="prettyprint" style="word-wrap:break-word;margin-left:200px;width:auto;background-color: #ebf4fb;border:none;"></pre></div><br/><br/>
									<p></p>
								#end
							#end
							#end						
							</form>	
							<script type="text/javascript" src="resources/javascript-xpath-latest-cmp.js"></script>					
							<script type="text/javascript" src="resources/prettify.js"></script>
					        <script type='text/javascript' src="resources/jquery-2.1.0.min.js"></script>
							<script type="text/javascript" src="resources/json2.js"></script>
							<script type="text/javascript" src="resources/jquery.form.js"></script>
							<script type="text/javascript" src="resources/testgen.js"></script>
							<script type="text/javascript" src="resources/jquery.blockUI.js"></script>
							<script type="text/javascript" src="resources/vkbeautify.js"></script>
							<link href="resources/prettify.css" rel="stylesheet">
							<link rel="stylesheet" type="text/css" href="resources/jquery.datetimepicker.css"/ >
							<script type="text/javascript" src="resources/jquery.datetimepicker.js"></script>
						    <script type="text/javascript" src="resources/jquery.autosize.min.js"></script>
							<script type="text/javascript">	
								
								$jsfuncs
								
								#if($schemaJson)
					        	var schema = JSON.parse('$schemaJson');
					        	
					        	function isPrimitive(type)
					        	{
					        		return (type=='string' || type=='number' || type=='integer' 
										  		|| type=='boolean' || type=='date' || type=='float'
										  		|| type=='double');
					        	}
					        	
					        	function generate(schema, heirar, isnm, addclas, labinpdet)
								{
									  if(isPrimitive(schema.type))
									  {
									  		var valut = generateRandom(schema.type);
									  		var nmdef = (isnm?("name=\""+heirar+"\""):"");
											var dtcls = "";
											if(schema.type=='date')
												dtcls = "clsDatePicker";
											var isAttr = "";
											if(schema.hasOwnProperty('isattr'))
											{
												isAttr = "isattr=\"true\";"
											}
											if(schema.hasOwnProperty('enum'))
											{
												var htm = "<div class=\"form-elems controls\"><label class=\""+addclas+"\" "+labinpdet+">"+heirar+"</label><select "+isAttr+" "+labinpdet+" "+nmdef+" class=\"form-control "+addclas+""+dtcls+"\">";
												for(var i=0;i<schema.enum.length;i++)
													htm += "<option value=\""+schema.enum[i]+"\">"+schema.enum[i]+"</option>";
												return htm + ("</select><br/><br/></div>");
											}
											else
												return ("<div class=\"form-elems\"><label class=\""+addclas+"\" "+labinpdet+">"+heirar+"</label><input "+isAttr+" "+labinpdet+" "+nmdef+" class=\"form-control "+addclas+""+dtcls+"\" onblur=\"validate(this, '"+schema.type+"')\" value=\""+valut+"\" type='text'/><br/><br/></div>");
									  }
									  else if(schema.type=='object')
									  {
											if(schema.hasOwnProperty('properties'))
											{
												if(!heirar && schema.hasOwnProperty('name'))
												{
													if(!heirar)
														heirar = schema.name;
													else
														heirar += "['"+schema.name+"']";
												}
												var html = "<div>";
												for (var property in schema.properties) {
													if (schema.properties.hasOwnProperty(property)) {
														var hirNm = heirar;
														if(!hirNm || hirNm=="")
															hirNm = property;
														else
															hirNm += "['"+property+"']";
														var propobj = schema.properties[property];
														var htmlp = generate(propobj, hirNm, isnm, addclas, "orig_val_cls=\""+hirNm+"\"");
														html += htmlp;
													}
												}				
												return html + "</div>";
											}
									  }
									  else if(schema.type=='array')
									  {
											if(schema.hasOwnProperty('items'))
											{
												var hirNm = heirar;	
												if(!hirNm || hirNm=="")
													hirNm = "";
												if(!countMap.hasOwnProperty(hirNm))
													countMap[hirNm] = 0;
												schemaMap[hirNm] = schema.items;
												
												var html = '<div id="_element_'+hirNm+'" class="form-elems" style="border:1px dotted black;padding:10px;margin-top:10px;">'+hirNm+'<a href="#" style="text-decoration:none;" class="plusminuslist" optype="true" list_value_cls="'+hirNm+'" onclick=\"plusminuslistfunc(this)\">&nbsp;&nbsp;<b>+</b></a><a href="#" list_value_cls="'+hirNm+'" style="text-decoration:none;" class="plusminuslist" optype="false" onclick=\"plusminuslistfunc(this)\">&nbsp;&nbsp;<b>-</b></a><br/>';
												hirNm += "["+(countMap[hirNm]++)+"]";
												html += generate(schema.items, hirNm, isnm, addclas, "orig_val_cls=\""+hirNm+"\"");
												html += "</div>";				
												return html;
											}
									  }
									  else if(schema.type=='map')
									  {
											var hirNm = heirar;
											if(!hirNm)
												hirNm = "";
											if(schema.hasOwnProperty('types'))
											{
												if(schema.types.hasOwnProperty('key') && schema.types.hasOwnProperty('value'))
												{
													#if($consumes.equals("application/xml") && $request_content)
													var updschema = {};
													updschema.type = "object";	
													updschema.properties = {};
													updschema.properties.entry = {};
													updschema.properties.entry.type = "array";
													updschema.properties.entry.items = {};
													updschema.properties.entry.items.type = "object";
													updschema.properties.entry.items.properties = {};
													updschema.properties.entry.items.properties.key = schema.types.key;
													updschema.properties.entry.items.properties.value = schema.types.value;
													return generate(updschema, hirNm, isnm, addclas, labinpdet);
													#else
													var updschema = {};
													updschema.type = "array";
													updschema.mtype = "map";
													updschema.items = {};
													updschema.items.type = "object";
													updschema.items.properties = {};
													updschema.items.properties.key = schema.types.key;
													updschema.items.properties.value = schema.types.value;
													schemaMap[hirNm+"_dummymap"] = updschema;
													return generate(updschema, hirNm, isnm, addclas, labinpdet);
													#end
												
													/*if(!countMap.hasOwnProperty(hirNm))
														countMap[hirNm] = 0;
													var contid = "_ele_"+hirNm+(countMap[hirNm]++);
													var html = '<div id="_element_'+hirNm+'" class="form-elems" style="border:1px dotted black;padding:10px;margin-top:10px;">'+hirNm+'<a href="#" style="text-decoration:none;" class="plusminusmap" optype="true" map_value_cls="'+hirNm+'" onclick=\"plusminusmapfunc(this)\">&nbsp;&nbsp;<b>+</b></a><a href="#" map_value_cls="'+hirNm+'" style="text-decoration:none;" class="plusminusmap" optype="false" onclick=\"plusminusmapfunc(this)\">&nbsp;&nbsp;<b>-</b></a><br/><div  id="'+contid+'">';
													html += generate(schema.types.key, hirNm, false, "map_key_cls", "onblur=\"updateMapValueNms(this)\" map_value_cls=\""+hirNm+"\"");
													var cls = hirNm + " " + addclas;
													html += generate(schema.types.value, hirNm, true, cls, "orig_val_cls=\""+hirNm+"\"");
													html += "</div></div>";
													schemaMap[hirNm] = schema.types;								
													return html;*/
												}
											}
									  }
								}
					
								function updateMapValueNms(key)
								{
									var clsnm = key.getAttribute('map_value_cls');
									if(key.value.trim()=="")return;
									if(!key.hasOwnProperty('lastclsnm'))
										key.lastclsnm = "";
									var nclsnm = clsnm;
									var kval = key.value.replace(/\'/g,"\'");
									if(nclsnm.lastIndexOf("[")!=-1)
										nclsnm = nclsnm.substring(0, nclsnm.lastIndexOf("[")) + "['" + kval + "']" + nclsnm.substring(nclsnm.lastIndexOf("["));
									else
										nclsnm += "['" + kval + "']";
									var nodes = getElementsByClassName(clsnm, key.parentNode.parentNode);
									for(var i =0;i<nodes.length;i++)
									{
										var node = nodes[i];
										node.className = node.className.replace(key.lastclsnm, "");
										node.className += " " + nclsnm + " ";					
										if(node.nodeName.toLowerCase()=="input")
										{
											var nnnm = node.getAttribute('orig_val_cls');
											nnnm += "['" + kval + "']";
											node.name = nnnm
										}
										else if(node.nodeName.toLowerCase()=="label")
										{
											var nnnm = node.getAttribute('orig_val_cls');
											nnnm += "['" + kval + "']";
											node.name = nnnm
											node.innerHTML = nnnm
										}
									}
									key.lastclsnm = " " +nclsnm+" ";
								}
					        	#end
			
								#if($consumes.equals("application/xml") && $request_content)
								var requestXMLNode = getXMLNode('$request_content');
								#end
								
								function updatetawidcont()
								{
									var cont = "";
									#if(!$consumes.equals("application/xml"))
										cont = JSON.stringify($('#$formName').serializeObject(), undefined, "\t");
									#else
										if(requestXMLNode!=undefined)
										{
											cont = $('#$formName').serializeObjectToStrictXML(requestXMLNode);
											cont = vkbeautify.xml(cont);
										}
									#end
									if(cont!="" && $('#req-txtarea').length>0)
									{
										$('#req-txtarea').val(cont).trigger('autosize.resize');
									}
								}
								
								var origHeight = 0;
								function adjustHeight()
								{
									var height = document.getElementById('$formName+Doc').offsetHeight 
													+ document.getElementById('$formName').parentNode.offsetHeight + 200;
									if(screen.height > height)
									{
										if(origHeight > screen.height)
											height = origHeight;
										else
											height = screen.height;
									}
									else if(origHeight > height)
									{
										height = origHeight;
									}
									document.getElementById('aside').style.height = height +'px';
								}
								
								function correctHeight()
								{
									document.getElementById('$formName+Doc').style.display = 'none';
									origHeight = document.getElementById('aside').offsetHeight;
									if(screen.height > origHeight)
									{
										origHeight = screen.height;
									}
									document.getElementById('$formName+Doc').style.display = 'block';
									var height = document.getElementById('$formName+Doc').offsetHeight 
											+ document.getElementById('$formName').parentNode.offsetHeight + 200;
									if(height > origHeight)
									{
										document.getElementById('aside').style.height = height +'px';
									}
									else 
										document.getElementById('aside').style.height = origHeight +'px';
								}
								
								function loadURL()
								{
									var urlValue = readCookie('$formName');
									if(urlValue!=null)
									{
										$('#93be7b20299b11e281c10800200c9a66_URL').val(urlValue);
									}
								}
								
								$(document).ready(function() {
									if($('.docImage').length>0)
									{
										$('.docImage').bind("load", function() {
											correctHeight();
										});
									}
									else
									{
										correctHeight();
									}
								});
								
								(function() {
									if(typeof authTokNm!="undefined" && typeof authTokTyp!="undefined")
									{
										var currUrl = document.location + "";
										var currToken = "";
										if(currUrl.indexOf("?")!=-1 && currUrl.indexOf(authTokNm+"=")!=-1)
										{
											currToken = currUrl.substr(currUrl.indexOf("?")+1);
											currToken = currToken.substr(currToken.indexOf("=")+1);
											if(debugEnabled)alert(authTokNm+"="+currToken);
										}
										$(document).ready(function() {
											if(currToken!="")
												handleAuth(currToken);
											
											#if($schemaJson)
											$('#$formName').html(generate(schema, '', true, '', ''));
											
											$('#$formName').prepend(
												'<div class="control-group"> \
													<label>Use Raw Text:&nbsp;</label> \
													<div class="controls"><input id="raw_req_cont_flag" type="checkbox" onchange="hideShowClasses(\'form-elems\',\'form-request_content\', this);updatetawidcont()"/></div> \
												</div> \
												#foreach($vField in $vFields)
												#if ($vField.getType().equals("url"))
													<div class="control-group#if($vField.getClaz()) $vField.getName()#end"> \
														<label>url&nbsp; \
														</label> \
														<div class="controls"> \
														<input style="width:50%" class="form-control" type ="text" id="$vField.getLabel()" value="#if($vField.getValues().size()>0)$vField.getValues().get(0)#end"/><br/><br/> \
														</div> \
													</div> \
												#end
												#end
												<div class="control-group form-request_content" style="display:none"> \
													<label>url&nbsp; \
													</label> \
													<div class="controls"> \
														<select class="form-control" id="raw_req_cont_type"> \
															<option value="application/json" #if(!$consumes.equals("application/xml"))selected#end>JSON</option> \
															<option value="application/xml" #if($consumes.equals("application/xml"))selected#end>XML</option> \
														</select> \
													</div> \
												</div>');	
											
											$('.map_key_cls').each(function() {
												if(this.nodeName.toLowerCase()=="input")
													updateMapValueNms(this);
											});
											if($('#req-txtarea').length==0)
											{
												$('#$formName').append('<div class="form-request_content"><label> Request Content&nbsp;</label>'
														 + '<textarea class="form-control" style="width:60%" id="req-txtarea"></textarea></div>');
												#if($request_content)$('#req-txtarea').val('$request_content');#end
												$('#req-txtarea').autosize();
												$('#req-txtarea').parent().hide();
											}
											else
											{
												$('#req-txtarea').parent().addClass('form-request_content');
												#if($request_content)$('#req-txtarea').val('$request_content');#end
												$('#req-txtarea').autosize();
												$('#req-txtarea').parent().hide();
											}
											$('.clsDatePicker').datetimepicker({format: 'Y-m-d\\TH:i:s.000\\Z', step:1, validateOnBlur:false});
											$('#$formName').append(
											'<div class="spacer"></div> \
											#if(!$consumes.equals("multipart/form-data"))
												<button type="submit" class="spbutton" type="submit" onclick="executeTest(\'#93be7b20299b11e281c10800200c9a66_URL\',\'$httpMethod\',\'$consumes\',\'#$formName\');return false;">Submit</button> \
												<br/><br/><p></p><br/> \
												<label>Response Time:&nbsp;</label><span id="restime"></span><br/><br/> \
												<label>Response Headers:&nbsp;</label><div><pre id="reshdrs" style="word-wrap:break-word;margin-left:200px;width:auto;background-color: #ebf4fb;border:none;"></pre></div> \
												<label>Response:&nbsp;</label><div><br/><pre id="status" class="prettyprint" style="word-wrap:break-word;margin-left:200px;width:auto;background-color: #ebf4fb;border:none;"></pre></div><br/><br/> \
												<p></p> \
											#else
												<input type="submit" class="spbutton" value="Submit"> \
												<br/><br/><p></p><br/> \
												<label>Upload Progress&nbsp;</label><br/><br/><div class="progress" style="margin-left:200px"><div class="bar"></div><div class="percent">0%</div></div><br/> \
												<label>Response Time&nbsp;</label><span id="restime"></span><br/><br/> \
												<label>Response Headers&nbsp;</label><div><pre id="reshdrs" style="word-wrap:break-word;margin-left:200px;width:auto;background-color: #ebf4fb;border:none;"></pre></div><br/> \
												<label>Response&nbsp;</label><div><br/><pre id="status" class="prettyprint" style="word-wrap:break-word;margin-left:200px;width:auto;background-color: #ebf4fb;border:none;"></pre></div><br/><br/> \
												<p></p> \
											#end
											');
											#else
											$('.clsDatePicker').datetimepicker({format: 'Y-m-d\\TH:i:s.000\\Z', step:1, validateOnBlur:false});
											if($('#req-txtarea').length==0)
											{
												$('#$formName').append('<div class="form-request_content"><label> Request Content&nbsp;</label>'
														 + '<textarea class="form-control" style="width:60%" id="req-txtarea"></textarea></div>');
												$('#req-txtarea').autosize();
												$('#req-txtarea').parent().hide();
											}
											#end
										});
									}
								})();
								
								function handleAuth(token)
								{
									if(debugEnabled)alert("Providing authentication access to Test Links....");
									$('.asideLink').each(function() {
										var lnkupd = "?" + authTokNm + "=";
										if(typeof authTokNm!="undefined" && typeof authTokTyp!="undefined")
										{	
											if(this.href.indexOf(lnkupd)==-1)
											{
												this.href += lnkupd + token;
											}
											else
											{
												var tempbefore = this.href.substr(0, this.href.indexOf(lnkupd));
												var tempafter = this.href.substr(this.href.indexOf(lnkupd));
												if(tempafter.indexOf('&')!=-1)
												{
													tempafter = tempafter.substr(this.href.indexOf('&'));
												}
												else
												{
													tempafter = '';
												}
												this.href = tempbefore + lnkupd + token + tempafter;
											}
										}
									});
								}
								
								function togglehideShowClassGroup(clas,check)
								{
									$('#$formName div').each(function() {
										
										if(this.className!="" && (this.className==clas || this.className.indexOf(clas+"[")!=-1))
										{
											if(this.style.display=='none')
												this.style.display = 'block';
											else
												this.style.display = 'none';
										}
									});
									$('#$formName span').each(function() {
										
										if(this.className!="" && this.className.indexOf(clas+"[")!=-1)
										{
											if(check.checked)
												this.style.display = 'block';
											else
												this.style.display = 'none';
										}
									});
									adjustHeight();								
								}
			
								function hideShowClasses(clas1, clas2, check)
								{
									$('.'+clas1).each(function() {
										if(check.checked)
											this.style.display = 'none';
										else
											this.style.display = 'block';
									});
									$('.'+clas2).each(function() {
										if(check.checked)
											this.style.display = 'block';
										else
											this.style.display = 'none';
									});
								}
								
								#if($genTest==true)					
								#if($consumes.equals("multipart/form-data"))
									(function() { 
									var bar = $('.bar');
									var percent = $('.percent');
									var status = $('#status');
									   
									$('#$formName').ajaxForm({
									    beforeSend: function() {
									        if(debugEnabled)alert('Start Execute Test method call...');
									        blockPage();
											if(typeof authTokNm!="undefined" && typeof authTokTyp!="undefined")
											{
												var currUrl = document.location + "";
												var currToken = "";
												if(currUrl.indexOf("?")!=-1 && currUrl.indexOf(authTokNm+"=")!=-1)
												{
													currToken = currUrl.substr(currUrl.indexOf("?")+1);
													currToken = currToken.substr(currToken.indexOf("=")+1);													
												}
												this.url = "../" + $('#93be7b20299b11e281c10800200c9a66_URL').val();
												if(authTokTyp=="queryparam")
												{
													if(this.url.indexOf('?')==-1)
													{
														this.url += "?" + authTokNm + "=" + currToken;
													}
													else
													{
														if(this.url.charAt(this.url.length-1)=='&')
															this.url += authTokNm + "=" + currToken;
														else
															this.url += "&" + authTokNm + "=" + currToken;
													}
													$('#$formName').attr('action', this.url);
												}
												else if(authTokTyp=="header")
												{
													this.headers[authTokNm] = currToken;
												}
												else if(authTokTyp=="postparam")
												{
													$('#$formName').append('<input type="hidden" name="'+authTokNm+'" value="'+currToken+'"/>');
												}
											}
									        status.empty();
									        var percentVal = '0%';
									        bar.width(percentVal)
									        percent.html(percentVal);
									    },
									    uploadProgress: function(event, position, total, percentComplete) {
									        var percentVal = percentComplete + '%';
									        bar.width(percentVal)
									        percent.html(percentVal);
									    },
										complete: function(jqXhr) {
										   unblockPage();
										   var contentTypeHeader = jqXhr.getResponseHeader('Content-Type');
										   if(contentTypeHeader==null)
											  contentTypeHeader = jqXhr.getResponseHeader('Content-type');
										   if(contentTypeHeader==null)
											  contentTypeHeader = jqXhr.getResponseHeader('content-type');
										   if(contentTypeHeader==null)
										 	 contentTypeHeader = jqXhr.getResponseHeader('content-Type');
										   if(debugEnabled)alert("Completed Execute Test method call "+jqXhr.status);
										   if(contentTypeHeader.indexOf('application/json')!=-1)
										   {
										       eval('var ty = '+jqXhr.responseText+';');
											   status.html(syntaxHighlight(JSON.stringify(ty, undefined, 4)));
										   }
										   else
											  status.html(jqXhr.responseText);									       
										}
									});						
								})();
								#end
							
								function addMapKV(label)
								{
									var tem = document.getElementById(label+'_holder');
									if(tem==null)
										$('#$formName').append('<div id="'+label+'_holder"></div>');
									var temid = label + '_holder';
									var temkey = document.getElementById(label+'+mapkey').value;
									var temval = document.getElementById(label+'+mapvalue').value;
									var inptem = document.getElementById(label+'['+temkey+']');
									if(inptem!=null)
									{
										alert('A map entry with the same key already exists!!');
										return;
									}
									document.getElementById(temid).innerHTML += ('<input type="hidden" id="'+label+'['+temkey+']" name="'+label+'[\''+temkey+'\']" value="'+temval+'"/>');
									document.getElementById(temid).innerHTML += ('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '+label+' entry Key:'+temkey);
									document.getElementById(temid).innerHTML += (', '+label+' entry Value:'+temval+'<br/>');
								}
								
								
								function addListV(label)
								{
									var vcounter = 0;
									var tem = document.getElementById(label+'_holder');
									if(tem==null)
										$('#$formName').append('<div id="'+label+'_holder"></div>');
									var temid = label + '_holder';
									var temlval = document.getElementById(label+'_'+vcounter);
									while(temlval!=null)
									{
										vcounter++;
										temlval = document.getElementById(label+'_'+vcounter);
									}
									var temval = document.getElementById(label+'+listv').value;
									document.getElementById(temid).innerHTML += ('<input type="hidden" id="'+label+'_'+vcounter+'" name="'+label+'['+vcounter+']" value="'+temval+'"/>');
									vcounter++;
									document.getElementById(temid).innerHTML += ('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '+label+' entry value:'+temval+'<br/>');
								}								
								
								function addSetV(label)
								{
									var scounter = 0;
									var tem = document.getElementById(label+'_holder');
									if(tem==null)
										$('#$formName').append('<div id="'+label+'_holder"></div>');
									var temid = label + '_holder';
									var temlval = document.getElementById(label+'_'+vcounter);
									while(temlval!=null)
									{
										scounter++;
										temlval = document.getElementById(label+'_'+scounter);
									}
									var temval = document.getElementById(label+'+setv').value;
									$('.'+label+'setclass').each(function() {
										if(this.value==temval)
										{
											alert('A set entry with the same value already exists!!');
											return;
										} 
									});
									document.getElementById(temid).innerHTML += ('<input type="hidden" id="'+label+'_'+scounter+'" class="'+label+'setclass" name="'+label+'['+scounter+']" value="'+temval+'"/>');
									scounter++;
									document.getElementById(temid).innerHTML += ('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '+label+' entry value:'+temval+'<br/>');
								}
								
								function addFormParm(label)
								{
									var url = "../" + $('#93be7b20299b11e281c10800200c9a66_URL').val();	
									$('#$formName').attr('action', url);
									
									var temkey = document.getElementById(label+'+name').value;
									var temsel = document.getElementById(label+'+sel').value;
									if(document.getElementById(label+temkey)!=null)
									{
										alert('A parameter with this name already exists!!');
										return;
									}
									if(temsel=="text")
										$('#$formName').append('<label>'+temkey+'&nbsp;</label><input type="text" id="'+label+temkey+'" name="'+temkey+'"/><br/><br/>');
									else
									{	
										$('#$formName').append('<label>'+temkey+'&nbsp;</label><input type="file" id="'+label+temkey+'" name="'+temkey+'"/><br/><br/>');													
									}
								}	
								#end
								
								function searchLeftNavs(ele)
								{
									var term = ele.value.trim();
									$('.service').each(function() {
										if(term=='')
										{
											if($(this).parent().parent().prop("tagName").toLowerCase()=="h3")
												$(this).parent().parent().show();
											else if($(this).parent().prop("tagName").toLowerCase()=="h3")
												$(this).parent().show();
										}
										else
										{
											if($(this).text().search(new RegExp(term, "i"))==-1)
											{
												if($(this).parent().parent().prop("tagName").toLowerCase()=="h3")
													$(this).parent().parent().hide();
												else if($(this).parent().prop("tagName").toLowerCase()=="h3")
													$(this).parent().hide();
											}
											else
											{
												if($(this).parent().parent().prop("tagName").toLowerCase()=="h3")
													$(this).parent().parent().show();
												else if($(this).parent().prop("tagName").toLowerCase()=="h3")
													$(this).parent().show();
											}
										}
									});
									$('#aside h3').each(function() {
										if($(this).children().length==1)return;
										if(term=='')
										{
											$(this).parent().children().eq(0).show();
											$(this).children().show();
											$(this).show();
											$(this).children().eq(0).show();
											$(this).parent().show();
										}
										else
										{
											var flag = false;
											$(this).children('.asideSubLink').each(function() {
												$(this).children('.asideLink').each(function() {
													if($(this).children().eq(0).text().search(new RegExp(term, "i"))==-1 && $(this).parent().parent().children().eq(0).text().search(new RegExp(term, "i"))==-1)
														$(this).parent().hide();
													else
													{
														flag = true;
														$(this).parent().show();
													}
												});												
											});
											if(flag)
											{
												$(this).show();
												$(this).children().eq(0).show();
											}
											else
											{
												$(this).hide();
											}
										}
									});
								}		
							</script>
						</div>						
					</div>	
					
					<div id="aside">
						$asideLinkValues
					</div>
				</div>
				
				<div id="footer">
					© $copywright, All rights reserved.
				</div>
			</div>
		</div>
	</body>
</html>